#eco_manager_frame_content tbody th {
    font-family: 'DINPRO-LIGHT';
    color: white;
    padding-left: 4px;
    text-align: center;
    font-size: .80em;
    text-shadow: 0px 2px 2px #000;
}

#eco_manager_frame_content tbody td {
    padding-left: 4px;
    text-align: center;
}
